.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.venv/
venv/
__pycache__/
*.pyc

ansible/inventory/hosts.generated.yml
terraform.tfvars
*.pem
*.key

kubeconfig
